<div class="w-full">
  @if (!showJsonEditor()) {
  <div class="flex gap-2">
    <button mat-button (click)="showJsonEditor.set(true)">Edit JSON</button>
    <button mat-button (click)="handleAddColumn()">Add Column</button>
  </div>
  <mat-list cdkDropList (cdkDropListDropped)="handleDrop($event)" role="list">
    @if (config(); as c) { @for (col of c.columns; track col.id) {
    <mat-list-item role="listitem" cdkDrag class="!cursor-move">
      <span matListItemTitle>{{ col.name }}</span>
      <projects-column-description matListItemLine [column]="col" />
      <span matListItemMeta
        ><button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button></span
      >
      <mat-menu #menu>
        <button mat-menu-item (click)="handleEditColumn(col)">Edit</button>
        <button mat-menu-item (click)="transformConfig.removeColumn(col.id)">
          Delete
        </button>
      </mat-menu>
    </mat-list-item>
    } }
  </mat-list>
  } @else {
  <div>
    <button mat-button (click)="showJsonEditor.set(false)">Back</button>
  </div>

  <nu-monaco-editor
    #configEditor
    [ngModel]="editorContent()"
    (ngModelChange)="editorContent.set($event)"
    height="400px"
    [options]="editorOptions"
  ></nu-monaco-editor>
  }
</div>
